@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  background: var(--bg-color);
}

:root{
  --text-color: #111517;
  ---primary-color: #FFF;
  --bg-color: #FAFAFA;
  --shadow-color: rgba(0, 0, 0, 0.06);
  --shadow-color2: rgba(0, 0, 0, 0.05);
  --text-color2:#848484;
}
.hidden{
  display: none !important;
}
.dark-mode{
  ---primary-color:#2B3844;
  --bg-color: #202C36;
  --text-color : #fff;
  --text-color2: #fff;
}
.container{
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 80px;
  padding-right: 80px;
}
.overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 80px;
  border: 5px solid orange;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }
  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
          /* HEADER SECTION */
.site-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
  background: var(--bg-color);
  box-shadow: 0px 2px 4px 0px var(--shadow-color);
}
.site__dark-mode{
  display: flex;
  align-items: center;
  gap: 10px;
}
.site__logo{
  color: var(--text-color);
  font-size: 24px;
  font-weight: 800;
}
.site__mode-title{
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
}
                    /* MAIN SECTION */
.site__form{
  margin-top: 48px;
  margin-bottom: 48px;
  position: relative;
}
.site__form-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
form{
  max-width: 480px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: var(---primary-color);
  box-shadow: 0px 2px 9px 0px var(--shadow-color2);
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 18px 30px 18px 32px;
}
form input{
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 400;
  border: none;
  background: var(---primary-color)
}
      /* SELECT SECTION */

.country{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  border-radius: 5px;
  background: var(---primary-color);
  box-shadow: 0px 2px 9px 0px var(--shadow-color2);
  padding: 18px 22px;
  cursor: pointer;
  position: relative;
}
/* .country-wrapper.hidden{
  display: none;
} */
.country-wrapper{
 position: absolute;
 top: 110%;
 right: 80px;
 z-index: 10;
 max-width: 200px;
 width: 100%;
 border-radius: 5px;
 background: var(---primary-color);
 box-shadow: 0px 2px 9px 0px var(--shadow-color2);
}
.country-wrapper .country__item{
  padding: 16px 125px 16px 24px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.country__item:hover{
  background: rgba(173, 173, 170, 0.301);
}
.country_title{
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}
      /* GRID LIST */
.country__lists{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 45px;
}
.country_item{
  max-width: 264px;
  width: 100%;
  border-radius: 5px;
  background: var(---primary-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
.country_item-content{
  padding: 24px 80px 46px 24px;
}
.country_item-content a{
  color: var(--text-color);
  margin-top: 20px;
  font-size: 16px;
  text-decoration: underline;
}
.country_item-content .country_item-name{
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}
.country_item p{
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.country_item p:not(:last-child){
  margin-bottom: 8px;
}
/* ABOIUT HTML STYLES */
.country__about{
  padding: 70px 80px;
}
.back__item{
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 60px;
}
.back__item.back-bg{
  border-radius: 6px;
  background: #2B3844;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
}
.back__item .back__text{
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
}
.country__catalog{
  display: flex;
  align-items: center;
  gap: 120px;
}
.country__content_wrapper{
  display: flex;
  align-items: flex-start;
  gap: 140px;
  margin-bottom: 65px;
}
.country__context__description p,
.context__desc p{
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}
.country__context__description span,
.context__desc span{
  font-weight: 400;
}
.country__catalog-title{
  color: var(--text-color);
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 23px;
}
.border__countries{
  display: flex;
  align-items: center;
  gap: 15px;
}
.border__countries .border{
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.border__countries span{
  padding: 5px 27px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;
  background: var(---primary-color);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}


@media screen and (max-width:1250px){
  .country__catalog{
    gap: 20px;
  }
  .country__catalog-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .country__content_wrapper{
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 34px;
  }
  .border__countries{
    justify-content: flex-start;
    flex-direction: column;
  }

}
@media screen and (max-width:980px){
  .border__country{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

    /* RESPONSIVES STYLES */
@media screen and (max-width:900px) {
  form{
    max-width: 400px;
  }
  .country__catalog-img{
    max-width: 320px;
    width: 100%;
    height: 275px;
  }
  .back__item{
    padding: 6px 23px;
    width: 105px;
    border-radius: 2px;
    background: var(---primary-color);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  }
  .country__catalog{
    flex-direction: column;
    gap: 30px;
  }
  .country__catalog-content{
    justify-content: flex-start;
  }
  .border__country {
    flex-direction: row;
  }
}
@media screen and (max-width:768px){
form{
  max-width: 350px;
}
.country-wrapper{
  position: absolute;
  top: 110%;
  right: 50px;
}

}
@media screen and (max-width:660px){
  .site__form-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }
  .country-wrapper{
    left: 220px;
  }
}
@media screen and (max-width:560px){
  .site__logo{
    font-size: 14px;
  }
  .site__mode-title{
    font-size: 12px;
  }
  .site__form{
    margin-top: 24px;
    margin-bottom: 32px;
    position: relative;
  }

  .site__form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }
  .country-wrapper{
    left: 170px;
  }
}
@media screen and (max-width:500px) {
  .country-wrapper{
    left: 150px;
  }
}
@media screen and (max-width:450px) {
 .container{
    padding-left: 40px;
    padding-right: 40px;
  }
  .country-wrapper{
    left: 110px;
  }

}
@media screen and (max-width:400px){
  .country-wrapper{
    left: 90px;
  }
}
@media screen and (max-width:350px){
  .country-wrapper{
    left: 70px;
  }
}